%nav.navbar.navbar-expand-lg.navbar-light.bg-light.my-2
  .container-fluid
    %a.navbar-brand{:href => ''} Bettermanager
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Home', root_path, class: 'nav-link active', data: { turbolinks: false }
        %li.nav-item
          = link_to 'Journeys', journeys_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Products', products_path, class: 'nav-link'
        -# %li.nav-item
        -#   = link_to 'Login', journeys_path, class: 'nav-link'
        -# %li.nav-item
        -#   = link_to 'Logout', destroy_user_session_path, :method=>'delete', class: 'nav-link'
          